
body {
    margin:0;
}

.comments-area {
    display: none;
}

.entry-title{
    /* padding: 0;
    margin: 0; */
    /* display: inline; */
}

.entry-header{
    height: 100vh;
    text-align: center;
    font-size: 1.8em;
    line-height: normal;
    margin: auto;

}

.entry-title  {
    position: absolute;
    top: 30%;
    width: 40%;
    
}
.post-excerpt{
    font-size: 0.4em;
    color: #5d5d5d;
}

article {
    display: inline-block;      
}

.entry-content {
    float: right;
    font-size: 1.4em;
    line-height: 1.5em;
}
.content-img {
    margin-left: -40px;
}

.content-img img {
    float: right;
}

.entry-body h2 {
    padding-top:20px;
}
.entry-body p, .entry-body h2 {
    opacity: 0;
}


.hidden-paragraph {
    opacity: 0;  
   
}
.show-paragraph{
    opacity: 1;
    animation: paraga 0.5s ease-out 0.2s;
    animation-fill-mode: forwards;
    
}



figcaption {
    position: absolute;
    bottom:0px;
    color: white;
}

.entry-meta{
    display: none;
}

.wp-block-quote {

    position: absolute;
    color: white;
    left: 0 ;
    display: none;
}



.img-transition {

    filter: blur(0);
    animation: mymove 1s;
    

}



#image-container{
    position: sticky    ;
    /* left:0.2em; */   
    top:0;          
    background-color: white ;
    height: 100vh;
    margin: 0;
    overflow: hidden;           
    float: left;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    background-color: white;
}



.site{
    /* width: 57%;
    float: right; */
}

.entry-content .image-aside  {
    margin: 0;
    height:0;
}

.image-aside figcaption{
    display: none;
}

.entry-content .image-aside img{
 
    height: 0;
}

.image-aside {
   
    margin: 0;
}

.element-img {
    opacity: 0;
    top: 0;
 
    position: absolute;
    transition: opacity 0.5s;
   
}
.element-img.is-visible{
   
    /* display: inline !important; */
  
    opacity: 1;
    animation: visible 0.5s;

}     

.image-container .image-aside {
    height: 100vh;

}



.horisontal-img{
    margin-top: 50%;
    border-left: 7px solid white;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #image-container{
        width: 47vw;
      
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #image-container{
        width: 47vw;
    }

    .entry-content {
        width: 48%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #image-container{
        width: 47vw;
    }

    .entry-content {
        width: 48%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #image-container{
        width: 47vw;
    }

    .entry-content {
        width: 48%;
    }
    .entry-body p, .entry-body h2 {
        width: 85%;
    }
    .entry-content .image-aside  {
        padding: 60px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #image-container{
        width: 37vw;
    }

    .entry-content {
        width: 58%;
    }
    .entry-body p, .entry-body h2 {
        width: 85%;
    }
    .entry-content .image-aside  {
        padding: 100px;
    }

}



@keyframes visible {
    from { filter: blur(10px); top:10px; max-width: 105%; left:-10px}
    to { filter: blur(0); top:0; max-width: 100%; left:0}
  }

  @keyframes paraga {
    from { opacity: 0;  margin-top: 20px;}
    to { opacity: 1;  margin-top: 0;}
  }